table {
	border-collapse: collapse;
	width: 220px;
	padding: 5px;
	font-family: Arial, sans-serif;
}
td,
th {
	border: 1px solid black;
	padding-left: 3px;
}
caption {
	border: 1px solid black;
}
.shrift {
	font-weight: 700;
	border-bottom: none;
}
.color {
	color: red;
}
