

@media (width > 992px) {
	.burger__btn {
		display: none;
	}
}

@media (width <= 992px) {
	.burger__btn {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		margin-right: 2px;
		z-index: var(--layer-3);
	}

	.logo {
		display: inline-flex;
		position: absolute;
		left: 5%;
		margin-left: 20px;
		margin-right: 20px;
	}

	.btn-dark {
		font-weight: 400;
		color: var(--main-color);
	}

	.btn-accent {
		font-weight: 500;
		text-align: center;
	}

	.burger__icon,
	.burger-btn--open .burger__icon-close {
		display: block;
		transform: translateX(-10px);
	}

	.burger__icon-close,
	.burger-btn--open .burger__icon {
		display: none;
		transform: translateX(-10px);
	}
}

@media (width <= 442px) {
	.btn-dark {
		margin-left: 140px;
		padding-inline: 15px;
	}

	.btn-accent {
		padding: 15px 20px;
	}
}

@media (width <= 415px) {
	.btn-accent {
		padding: 10px 20px;
	}
}
