.earnings {
	padding-top: 100px;
}

.earnings__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 23px;
	flex-direction: column;
}

.section-title {
	font-weight: 700;
	line-height: 117%;
	text-align: center;
	color: var(--main-color);
	max-width: clamp(18.75rem, 6.624rem + 51.74vw, 53.188rem);
	font-size: clamp(1.563rem, 0.572rem + 4.23vw, 4.375rem);
}

.section-text {
	font-weight: 400;
	font-size: clamp(0.75rem, 0.464rem + 1.22vw, 1.563rem);
	line-height: 158%;
	text-align: center;
	color: var(--main-color);
	max-width: clamp(16.25rem, 7.601rem + 36.9vw, 40.813rem);
}

.text-accent {
	font-weight: 700;
}

.stocks {
	max-height: 351px;
	padding-top: 100px;
	display: flex;
	justify-content: center;
	gap: 75px;
}

.stock__logo {
	border-radius: 24px;
	height: 144px;
	width: 144px;
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.stocks > .stock__card:nth-child(odd) .stock__logo {
	transform: translateY(57px);
}

.stock__stats {
	padding-top: 67px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 8px;
}

.stocks > .stock__card:nth-child(even) .stock__stats {
	padding-top: 10px;
}

.stock__change {
	font-weight: 400;
	font-size: 30px;
	line-height: 130%;
	color: var(--action-color);
}

.stock__price {
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	color: var(--main-color);
	border-radius: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 124px;
	height: 36px;
	background-color: var(--bg-action-price);
}

.catalog__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.catalog__text {
	max-width: clamp(16.25rem, 4.036rem + 52.11vw, 50.938rem);
	padding-top: 145px;
	padding-bottom: 32px;
}

.catalog__btn-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: clamp(3.75rem, 1.461rem + 9.77vw, 10.25rem);
}

.catalog__btn {
	border-radius: clamp(0.5rem, 0.236rem + 1.13vw, 1.25rem);
	padding-block: clamp(0.875rem, 0.655rem + 0.94vw, 1.5rem);
	padding-inline: clamp(1.125rem, 0.465rem + 2.82vw, 3rem);
	font-size: clamp(0.75rem, 0.53rem + 0.94vw, 1.375rem);
}

@media (width <= 1324px) {
	.earnings {
		padding-top: 900px;
	}
}

@media (width <= 992px) {
	.earnings {
		padding-top: 1000px;
	}
}

@media (width <= 768px) {
	.earnings {
		padding-top: 750px;
	}
}

@media (width <= 576px) {
	.earnings {
		padding-top: 450px;
	}
}

@media (width <= 576px) {
	.text-accent {
		font-weight: 500;
	}
}

@media (width <= 992px) {
	.stocks--hidden {
		display: none;
	}
}

@media (width <= 1324px) {
	.stocks {
		gap: 40px;
	}
}

@media (width <= 1169px) {
	.stocks {
		gap: 30px;
	}
}

@media (width <= 1094px) {
	.stocks {
		gap: 20px;
	}
}

@media (width <= 1040px) {
	.stocks {
		gap: 15px;
	}
}

@media (width <= 992px) {
	.catalog__text {
		padding-top: 50px;
		padding-bottom: 32px;
	}
}

@media (width <= 458px) {
	.catalog__text {
		padding-top: 30px;
		padding-bottom: 22px;
	}
}
