.footer {
	margin-top: auto;
	background-color: var(--bg-color);
	position: relative;
}

.footer__inner {
	padding-top: 70px;
	padding-bottom: 80px;
}

.footer__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__brand {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__logo {
	display: flex;
	align-items: center;
	gap: 5px;
}

.footer__brand-title {
	max-width: 108px;
	font-family: var(--five-fimily);
	font-weight: 300;
	color: var(--main-color);
	font-size: clamp(25px, 1.443rem + 0.51vw, 27px);
	transform: translateY(8px);
}

.footer__socials {
	display: flex;
	align-items: center;
	gap: 10px;
}

.footer__link {
	font-size: 20px;
	max-width: 283px;
	color: var(--main-color);
	text-decoration: underline;
	text-decoration-skip-ink: none;
	transition:
		color var(--transition-time),
		font-weight var(--transition-time);
}

.footer__link:hover {
	color: var(--action-color);
}

.footer__call {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__call-title {
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: var(--main-color);
}

.footer__phone {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 24px;
	line-height: 140%;
	text-align: center;
	color: var(--main-color);
	transition:
		color var(--transition-time),
		font-weight var(--transition-time);
}

.footer__phone:hover {
	color: var(--action-color);
	font-weight: 500;
}

.footer__btn {
	margin-top: 25px;
	padding-inline: 30px;
	padding-block: 20px;
}

.footer__glow {
	width: clamp(320px, -3.768rem + 101.41vw, 1400px);
	height: 300px;
	box-shadow: var(--bg-footer);
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: var(--layer-negative);
}

@media (width <= 1033px) {
	.footer__btn {
		font-size: 18px;
	}
}

@media (width <= 768px) {
	.footer__inner {
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.footer__content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}

	.footer__brand-title {
		max-width: 100%;
	}
}
