.tools {
	padding-bottom: 139px;
}

.tools__title {
	max-width: none;
	font-size: clamp(1.313rem, 0.234rem + 4.6vw, 4.375rem);
	padding-bottom: clamp(1.875rem, 0.489rem + 5.92vw, 5.813rem);
}

.tools__grid {
	padding-block: 70px;
	background-color: var(--main-color);
	display: grid;
	gap: 80px;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}

.tool {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tool__icon {
	width: 70px;
	height: 70px;
	padding-block: 12px;
	padding-inline: 12px;
	border: 1.5px solid #000;
	border-radius: 10px;
}

.tool__name {
	font-size: 18px;
	color: var(--tools-title-color);
	padding-block: 20px;
	font-weight: 500;
}

.tool__desc {
	max-width: 260px;
	font-size: 12px;
	font-weight: 500;
	color: var(--tools-text-color);
	text-align: center;
}

.tool__desc--wide {
	max-width: 250px;
}
