html {
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
}
body * {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}
.article {
	padding-top: 80px;
	padding-bottom: 120px;
}
.article-title {
	margin-bottom: 40px;
	max-width: 596px;
	font-family: Oswald;
	font-weight: 600;
	font-size: 48px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}
.title {
	margin: 20px auto;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}
.img {
	margin-top: 80px;
	margin-bottom: 80px;
	width: 100%;
}
.article-title-2 {
	margin-bottom: 40px;
	font-family: Oswald;
	max-width: 596px;
	font-weight: 600;
	font-size: 36px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}
.title-2 {
	margin-bottom: 20px;
	font-family: Ubuntu;
	max-width: 744px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}
.spisok {
	font-family: Ubuntu;
	margin: 0px;
	padding-left: 20px;
	fill: #2a94f3;
}
.spisok-2 {
	font-family: Ubuntu;
	margin-bottom: 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}
.mb-spisok {
	margin-bottom: 49px;
}
.video {
	margin-top: 0px;
	width: 100%;
	margin-bottom: 40px;
}
.title-3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}
