main {
	max-width: 100%;
}
h1,
h2,
p,
ul {
	margin: 25px 50px;
}

img {
	width: 1200px;
	margin: auto 50px;
}
video {
	width: 1200px;
	margin: auto 50px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-2 {
	text-align: right;
}
